.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #BBBBBB;
}
.hero-content {
    display: flex;
    width: 90%;
    max-width: 1200px;
    height: 75vh;
    background-color: #59adb4;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.hero-image {
    height: 100%;
    width: 50%;
}
.hero-image img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
}
.hero-text {
    padding: 40px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-text h1 {
    font-size: 96px;
    color: black;
    font-family: Irish Grover;
    margin-bottom: 20px;
    margin-top: 10px;
}
.hero-text button {
    background-color: black;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    display: flex;

}
.hero-text button:hover {
    background-color: red ;
}